/*#fdbb2d*/
/*#22c1c3*/
.menu__img{
    width: 77px;
    margin: 10px 10px;
}
.menu {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
}
.menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0px 10px;    
}
.menu__item {
    margin: 0px 10px;
}
.slider {
    height: 100vh;
    background: rgb(34,193,195);
    background: linear-gradient(319deg, #005882 0%, #00ACE4 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.badge {
    text-align: center;
    background: #ffff;
    height: 70vh;
    width: 50vw;
    border-radius: 9px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    justify-content: space-around;
    display: flex;
}
.slider__profile {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 25vw;
    background: #ffff;
    height: 25vw;
    overflow: hidden;
    border-radius:228px;
}
.slider__image {
    width: 100%;
}
.badge h1 {
    margin-top: 33px;
}
.social {
    display: flex;
    justify-content: center;
}
.social a {
    margin: 0px 4px;
    font-size: 20px;
    color: #9da8a8;
}
.phrase {
    font-size: 25px;
    font-weight: bold;
    color: #22c1c3;
}
nav.menu {
    position: fixed;
    width: 100%;
    background: #00ACE4;
    z-index: 100;
}
.menu__item {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}

.git {
    width: 60%;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow-y: scroll;
    height:193px;

}
.git__item {
  
    background: #fbfbfb;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.git::-webkit-scrollbar {
    background: #827bb073;
    border-radius: 20px;
    left: 10;
  }
  .git::-webkit-scrollbar-track {
    background: #827bb073;
    border-radius: 20px;
  }
  .git::-webkit-scrollbar-thumb {
    background-color: #fff;
    outline: 1px solid slategrey;
    border-radius: 20px;
  }
  .git__item {
    border-radius: 20px;
    border: 1px solid #e6e6e6;
    margin: 10px;
}
.git--title {
    background: #fff;
    padding: 10px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border: 1px solid;
    border-color: #fff;
    margin: 0px;
    display: flex;
    justify-content: space-between;
}
.eye {
    opacity: 0;
}
.git__item:hover  {
    transform:scale(1.02);
    opacity: 1;
}
.git__item:hover .eye {

    opacity: 1;
}.git__item a {
    text-decoration: none;
    color: #000;
}
p.git--date {
    color: #a7a7a7;
    font-weight: 500;
}
.col {
    width: 50%;
    height: 100%;
}
/*Start footer*/
footer.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #00ACE4;
    color: #fff;
}
.section__title {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: #00ACE4;
}
.menu_link{
    color: #fff;
    text-decoration: none;
 }
.menu_link:hover{
   color: #e6e6e6;
}
.backGround {
    display: flex;
    position: absolute;
    z-index: 1;
    /* width: 92%; */
    /* height: 100%; */
}
.badge {
    z-index: 10;
}
.slider__profile {
    z-index: 10;
}
.backGround {
    background: url('../../images/background.png');
    height: 100%;
    width: 100%;
    opacity: 0.2;
    background-attachment: fixed;
}


.menu_link {
    cursor: pointer;
}


@media only screen and (max-width: 830px){
    .corousel-item--icone {
        width: auto !important;
    }
    .slider {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .slider__profile {
        display: none;
    }
    nav.menu {
        height: 10%;
    }
    p.phrase {
        font-size: 18px;
    }
    .badge {
        min-height: 500px;
        width: 77%;
    }
    .corousel-item__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    a.brand_button {
        display: none;
    }
    a.brand_button--mobile {
        padding: 1%;
        width: 9%;
    }


    img.menu__img {
        display: none;
    }
    img.menu__img--mobile {
        width: auto;
        height: 100%;
    }
    .slider__profile {
        width: 50%;
        height: 50vw;
    }
    .menu ul {
        display: none;
    }
    .menu_icone {
        height: 100%;
    }

    .mobile_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1% 1.3%;
    }
    .menu_icone {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .menu_bar {
        background: #ffff;
        height: 6px;
        width: 52px;
    }
    a.menu_link {
        color: #00ACE4;
    }
    .menu_option {
        position: fixed;
        flex-direction: column;
        height: 90%;
        width: 90%;
        align-items: center;
        align-content: center;
    }
    .menu_close {
        display: flex;
        justify-content: flex-end;
        font-size: 30px;
    }
    .menu_option>.menu_button {
        display: flex;
        justify-content: center;
        padding: 1.5px;
        border-bottom: solid 1px #00ACE4;
        padding: 12px 0px;
    }
    
}

.corousel-item--icone {
    display: flex;
    justify-content: center;
}
svg.svg-inline--fa.fa-node-js.fa-w-14 {
    width: 177px;
}
@media only screen and (min-width: 831px){
   
    .mobile_menu {
        display: none;
    }
    .brand_button--mobile{
        display: none;
    }
    
}

.ReactModal__Overlay--after-open {
    z-index: 1000;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
    width: 100%;
}
