.corousel__container {
    padding: 10px;
    white-space: nowrap;
    overflow: scroll;
    overflow-y: hidden;  
}
.corousel__container::-webkit-scrollbar {
    background: #827bb073;
    border-radius: 20px;
    left: 10;
  }
  .corousel__container::-webkit-scrollbar-track {
    background: #827bb073;
    border-radius: 20px;
  }
  .corousel__container::-webkit-scrollbar-thumb {
    background-color: #fff;
    outline: 1px solid slategrey;
    border-radius: 20px;
  }
.corousel-item {
    display: inline-block;
    width: 80%;
    background: #00ACE4;
    padding: 19px;
    border-radius: 27px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 0px 8px;
    white-space: pre-wrap;
}
.corousel-item--icone svg {
    font-size: 186px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    text-align: center;
    justify-content: center;
    padding: 13px;
    color: #00ACE4;
    background: #ffff;
}
.corousel-item__description--title {
    font-size: 39px;
    font-weight: bold;
}

.corousel-item__container {
    display: flex;
    justify-content: space-between;
}
.corousel-item__description {
    margin: 0px 16px;
    color: #ffff;
    
}
.corousel-item__description>p{
    margin: 0px;
}
svg.svg-inline--fa.fa-mobile.fa-w-10 {
    width: 87%;
}
.corousel-item__header {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;

}